#game_container{
}
.rows{
  display: flex;
  margin-bottom: -1px;
  justify-content: center;
  align-items: center;
}
.cell{
  border: 1px solid black;
  text-align: center;
  position: relative;
}
.cell:nth-child(odd){
  margin-left : -1px;
  margin-right : -1px;
}
.wall{
  color : #a2a2a2;
}
.player{
  color: #ff54d1;
}
.powerup{
  color: #ffd82f;
}
.enemy{
  color: #ff770e;
}
.boss{
  color: #bb00ff;
}
.door{
  color: #00e200;
}
.entry{
  color: #00ffff;
}
.ruby{
  color: #ff0000;
}