#game_container{
}
.rows{
  display: flex;
  margin-bottom: -1px;
}
.cell{
  border: 1px solid black;
}
.cell:nth-child(odd){
  margin-left : -1px;
  margin-right : -1px;
}
.wall{
  background: red;
}