*{
  box-sizing: border-box;
}
body{
  background: #000000;
	font-family: "Trebuchet MS";
  margin: 0;
}
header{
  background: #ffffff;
  display: flex;
  justify-content: space-evenly;
}
p{
  margin : 0;
}
header > *{
  max-width: 40vw;
  margin: 0 5px;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main{
  perspective: 1000px;
  display: flex;
  justify-content: center;
}
#game_container{
  transform-style: preserve-3d;
}
.rubies{
  filter: hue-rotate(180deg);
}
.ui_parent{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.ui_child{
}
