*{
  box-sizing: border-box;
}
body{
  background: #000000;
	font-family: "Trebuchet MS";
  margin: 0;
}
header{
  background: #ffffff;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
p{
  margin : 0;
}
.header_top_row{
  margin : 0px 5px 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#bottom_header_row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main{
  perspective: 1000px;
  display: flex;
  justify-content: center;
}
#game_container{
  transform-style: preserve-3d;
}
.rubies{
  filter: hue-rotate(180deg);
}
.ui_parent{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.ui_child{
}
