*{
  box-sizing: border-box;
}
body{
  background: #000000;
	font-family: "Trebuchet MS";
}
header{
  background: #ffffff;
}
header *{
  margin : 0;
}
main{
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
#game_container{
  webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.rubies{
  filter: hue-rotate(180deg);
}
